node_modules
dist
templates/**/src
templates/**/test
templates/client-browser/public
templates/**/package-lock.json
templates/client*/src-ws/shared
templates/client*/src-http/shared
projects

.DS_STORE