<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSRPC Browser</title>
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <h1>Hello, TSRPC</h1>

    <div class="say-hello">
        <div class="say">
            <input type="text" class="name" placeholder="Input your name..." />
            <button class="btn-send">Say Hello</button>
        </div>

        <div class="reply" style="display: none;">
            <div class="title">Server Reply</div>
            <div class="content"></div>
        </div>
    </div>
</body>

</html>